body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: justify;
}

blockquote {
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 200px;
    padding: 20px;
    float: right;
    margin-right: 50px;
}

.author {
    text-align: right;
}
