body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: salmon;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.container {
    position: relative;
    margin-top: 100px;
}
